force-app/main/default/flows/LightningPreviewScreenFlow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>assign_output_color</name>
        <label>assign output color</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>outputColor</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>screen_flow_widget.outputColor</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>LightningPreviewScreenFlow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>LightningPreviewScreenFlow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Page_1</name>
        <label>Page 1</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>assign_output_color</targetReference>
        </connector>
        <fields>
            <name>display_input</name>
            <fieldText>&lt;p&gt;{!flowInputColor}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Enter_a_number</name>
            <dataType>Number</dataType>
            <fieldText>Enter a number</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>screen_flow_widget</name>
            <extensionName>mvpbo3:screenFlowWidget</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>inputBoolean</name>
                <value>
                    <elementReference>flowInputBoolean</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>inputColor</name>
                <value>
                    <elementReference>flowInputColor</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>inputNumber</name>
                <value>
                    <elementReference>Enter_a_number</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>output</name>
            <fieldText>&lt;p&gt;{!screen_flow_widget.outputColor}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Page_1</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>flowInputBoolean</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>flowInputColor</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>outputColor</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
